{
  "rules": {
    "indent": [
      2,
      4
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "eqeqeq": [
      2,
      "allow-null"
    ],
    "no-var": 2,
    "prefer-const": 2,
    "prefer-arrow-callback": 1,
    "prefer-template": 1,
    "no-console": 1,
    "no-debugger": 1
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "blockBindings": true,
    "modules": true
  }
}
